.nav-link {
  color: white;
}

.sidebar-wrapper {
  background: #666f78;
}

.user-name {
  color: white;
}
.drop-down-arrow {
  float: right;
  font-size: 0.7em;
}
.dropdown-toggle::after {
  float: right;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.nav {
  font-weight: 700;
  font-size: small;
}
.nav-item {
  border-bottom: 1px solid #a2a9b1;
}
.nav-item-end {
  border: none;
}
.f-300 {
  font-weight: 300;
}
:host {
  z-index: 10;
  transition: 0.3s;
}
