.header-nav {
  background-color: #da2032;
  height: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.sidebar {
  width: 263px;
}

.page {
  background: #f5f6f7;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-body {
  flex: 1 1 auto;
}
